<%- include("../partials/_header") %>

<h1>Datenschutz</h1>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus,
    eveniet reiciendis. Placeat deserunt quo at nihil asperiores! Pariatur at
    similique natus. Ex sequi voluptate fuga corrupti quibusdam nobis ipsum
    earum, quasi qui modi. Sunt sapiente nulla minus expedita animi vel eaque
    aperiam ratione similique iure! Autem a sapiente eum, ad possimus mollitia
    fugiat, quam numquam sequi quasi aliquid voluptatibus eaque sit facilis
    deleniti dolore. Consectetur soluta itaque laboriosam pariatur provident
    explicabo nostrum modi quidem alias ex, voluptate repudiandae optio unde
    maxime adipisci culpa mollitia voluptas vel error molestias reiciendis
    dignissimos! Hic, velit esse! Nemo possimus, optio numquam libero rem enim
    soluta animi quos fuga esse exercitationem aperiam dolorem modi commodi
    mollitia dolores voluptatem similique repellendus impedit. Cum maiores
    incidunt adipisci enim similique. Amet consequuntur aspernatur ut sed
    voluptates, quaerat est? Labore quod inventore quia optio fugiat delectus
    tempora quos quibusdam maxime ratione, eos magnam impedit possimus excepturi
    dolores temporibus! Perspiciatis libero odio necessitatibus quas ratione
    quos quidem eveniet aspernatur saepe modi placeat, eius reiciendis magni,
    fugit eos. Porro reprehenderit facere autem necessitatibus, neque id
    reiciendis? Aut, eveniet odio. Illum debitis voluptas quas minima enim
    reiciendis repellendus eveniet. Perspiciatis aut dolorum laudantium nobis
    esse pariatur dignissimos ad dolorem, fuga doloremque, qui rem aperiam
    accusantium quibusdam odio voluptates! Officia voluptatibus eum,
    exercitationem, accusantium placeat delectus aliquam nostrum quia vitae,
    mollitia atque hic. Aliquam facere magni assumenda excepturi unde natus
    expedita error vel quisquam voluptatibus iste voluptatum recusandae
    consectetur id cumque, vitae amet, aliquid, inventore provident? Deleniti
    perferendis sint itaque veniam eligendi rem sapiente neque iste consectetur?
    Fugit deserunt, aperiam possimus quaerat veritatis corrupti. Totam, magnam
    reprehenderit omnis vero consequuntur alias ratione tenetur, cum nobis
    asperiores error deleniti, qui ea esse! Beatae, magni voluptatem fugit velit
    unde eum quam reprehenderit tempora eaque ex hic quos! Suscipit fuga
    corporis inventore aspernatur temporibus perferendis aliquam.
</p>

<%- include("../partials/_footer") %>
