<%- include("../partials/_header") %>

<h1>Impressum</h1>
<p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur
    dolores ea molestias esse laborum delectus dicta porro, quas quisquam
    corporis ut eius asperiores tempora dolorem totam voluptate incidunt? Velit,
    vitae laboriosam magni eos minus nemo fuga nostrum ratione impedit eius,
    quaerat tempora dolores, in nisi doloribus ab. Atque animi eos nemo soluta
    sint? Temporibus esse, accusantium repellendus magnam minima tempora minus
    sint tempore voluptate rerum amet praesentium eligendi beatae totam earum
    aperiam quas, perspiciatis aut expedita reprehenderit pariatur. Alias esse
    fuga mollitia sed aliquid exercitationem laborum sit cum debitis quam quod,
    expedita molestiae ducimus itaque, nam velit voluptatem repellendus! Quas,
    temporibus dignissimos nemo harum nisi labore velit doloremque id
    architecto, nobis maiores eligendi totam numquam ratione perferendis iure
    molestias! Animi, laboriosam ullam necessitatibus adipisci molestias nobis
    reprehenderit ab assumenda sint beatae a omnis exercitationem consequuntur
    doloremque voluptas accusantium esse quisquam recusandae debitis fugit,
    sequi atque quod cupiditate in? Odio illo consectetur dolore omnis
    excepturi, tempore nobis enim eos suscipit voluptas, incidunt laudantium
    quaerat, nulla perferendis. Voluptates esse quod officiis deserunt
    excepturi. Voluptatum asperiores saepe nihil ea quae earum. Eos accusantium
    pariatur, animi, aliquam temporibus et at facere neque amet a culpa
    voluptatem rem in expedita natus laborum cupiditate ducimus porro.
</p>

<%- include("../partials/_footer") %>
