<%- include("../partials/_header") %>

<h1>Home</h1>
<p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati
    recusandae deserunt deleniti laborum. Quod quisquam ducimus enim voluptates
    beatae veniam nemo nostrum provident architecto consequuntur, iure adipisci
    quae tempora ullam.
</p>
<%- include("../partials/_footer") %>
