<div>
    <label for="firstname">First name</label>
    <input
        type="text"
        name="firstname"
        id="firstname"
        required
        value="<%= values.firstname.value %>"
    />
</div>
<div>
    <label for="lastname">First name</label>
    <input
        type="text"
        name="lastname"
        id="lastname"
        required
        value="<%= values.lastname.value %>"
    />
</div>
<div>
    <label for="birthday">Birthday</label>
    <input
        type="date"
        name="birthday"
        id="birthday"
        required
        value="<%= values.birthday.value %>"
    />
</div>
