<nav>
    <ul>
        <li><a href="/">Startseite</a></li>
        <li><a href="/person">People</a></li>
        <li><a href="/page/impressum">Impressum</a></li>
        <li><a href="/page/datenschutz">Datenschutz</a></li>
    </ul>
</nav>